.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
}

.App-container {
  padding-top: 4%;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.App-controls {
  margin-bottom: 16px;
  display: flex;
}

.App-controls>select {
  margin-left: 16px;
}

.App-container>.table-responsive {
  height: 80%;
  overflow: auto;
  margin: 0 auto;
  background-color: white;
}

.App-buttons {
  margin-top: 16px;
  text-align: center;
}
